@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #faebd7;
    font-family: 'Ubuntu Mono', monospace;
}

#container{
    
    width: 100%;
    position: relative;
    top: 50px;
    margin: auto;
    border: 2px solid #000000;
    text-align: center;
    background-color: #d8bfd8;
    
}

#header{
    margin-top: 25px;
}

#action-area{
    font-size: large;
    padding: 25px 0;
}

#games-area div{
    padding: 25px 0 15px 0;
}

#games-area div button{
    height: 50px;
    width:100px;
    border-radius: 50px;
    background-color: #ffa500;
    font-size: x-large;
    margin: 0 10px 10px 0;
}

#score-area{
    font-size: xx-large;
    margin-bottom: 25px;;
}

@media screen and (min-width: 320px) and (max-width:420px) {
    #container{
        width:90%;
        padding: 10px;
    }
}

@media screen and (min-width: 421px) and (max-width:700px) {
    #container{
        width:90%;
    }
}

@media screen and (max-width:1200px) {
    #container{
        width:90%;
    }
}