* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px) {
    
h1{
    text-align: center;
    margin-bottom: 20px;
}

.game-container{
    
    background-color: aqua;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    /* height: 75vh; */
    

}

.action-area{
    background-color: bisque;
    width: 90%;
    margin: auto;
    height: 25%;
    padding: 20px 0;

}

.btn-submit{
    text-align: center;

    margin: 20px 0;
}

.btn-lrg{
    width: 50%;
    border-radius: 20px;
}

.btn{
    background-color: rgb(250, 158, 92);
    border-radius: 20px;
    padding: 5px;
    
}

.score-section{

    text-align: center;
}



}